*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #f4f1f9;
}
.max-width{
  max-width: 100vw;
}

.clipboard{
  background-color: rgba(255,255,255,0.9);
}
.font-array {
  font-family: "Array", sans-serif;
}
.oss-font-family{
  font-family: "open_sauce_sans", sans-serif;
}
.ipm-font-family{
  font-family: 'IBM Plex Mono', monospace;
}
.border-b-custom {
  border-bottom: 2px solid #1C0B3D;
}
.account-border{
  border-bottom: 2px solid #d3e0f3;
}
.balance-border{
  border: 1px solid #e6effb;

}
.sap-light {
  width: 100%;
  border-bottom: 1px solid #e6effb;
}
.signup-container{
  background-image: url('./assets/deestream-bg.png') ;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}
.signup-subcontainer{
  max-width: 905px;
  width: 85%;
}
.login-subcontainer{
  max-width: 520px;
  width: 85%;
}
.input-parent-width{
  width: calc(50% - 15px);
}

.input-border{
  border: 1px solid rgb(127 ,127 ,127 );
}
/* .font-array1 {
  font-family: 'array-regular', sans-serif;
} */
.badge{
  padding: 2px 8px;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #00d285;
  min-width: 60px;
  vertical-align: middle;
}

.active{
  background-color: rgba(255,255,255,0.2);
  
}
.proactive {
  color: black !important;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom:3px solid #00d285;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.buttonOnHover:hover{
  background:rgba(255,255,255,0.8);
  transition: 0.5s;

}

@keyframes upsitedown {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(-5%, 5%);
    transform: translate(-5%, 5%);
  }
}
.img-animate {
  animation: upsitedown 2s linear 0.2s infinite alternate;
}


.accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.active {
  max-height: 100vh; /* Adjust this value based on your content */
}

.accordion-icon {
  margin-right: 10px;
}
@media screen and (max-width: 780px) {
  .input-parent-width{
    width:100%;
  }
  
}